<h1>Product Management System</h1>

<form [formGroup]="productForm" (ngSubmit)="createOrUpdateProduct()">
  <label for="name">Name</label>
  <input id="name" type="text" formControlName="name" />

  <br />

  <label for="price">Amount</label>
  <input id="price" type="number" formControlName="price" />

  <br />

  <button type="submit" [disabled]="productForm.invalid">Create or Update Product</button>
</form>

<br />

<div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
          <button (click)="selectProduct(product)">Edit</button>
          <button id="del" (click)="deleteProduct(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>